---
---

@import "{{ site.theme }}";

#main-content{
  
 width:100%;
  
}

header{

  padding-bottom:20px;
  padding-top:20px;
  
}

header span{
 
 color:white; 
 margin-right:30px;
 margin-top:20px;
  
}
