<!DOCTYPE HTML>                                                                 
<html lang="en">                                                                
    <head>                                                                      
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0;url=http://steve-kirby.github.io" />       
        <link rel="canonical" href="http://steve-kirby.github.io" />                     
    </head>                                                                                                                                                                   
    <body>                                                                      
        <h1>                                                                    
            The page been moved to <a href="http://steve-kirby.github.io">steve-kirby.github.io</a>
        </h1>                                                                   
    </body>                                                                     
</html>
